<!-- ALUMNO AGUSTIN LUCAS PONCE DE LEON -->
<!-- PROYECTO PYTHON - CURSO CODER HOUSE -->

<!-- CRUD -->

{% extends 'base.html' %}

{% block contentThatChanges %}
<div class="product-delete">
    <h2>Eliminar Producto</h2>
    <p>¿Estás seguro de que deseas eliminar el siguiente producto?</p>
    <ul>
        <li><strong>Nombre:</strong> {{ producto.nombre }}</li>
        <li><strong>Marca:</strong> {{ producto.marca }}</li>
        <li><strong>Talle:</strong> {{ producto.talle }}</li>
        <li><strong>Precio:</strong> ${{ producto.precio }}</li>
    </ul>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="eliminar-producto-btn">Confirmar Eliminación</button>
        <a href="{% url 'ListaProductos' %}" class="cancelar-btn">Cancelar</a>
    </form>
</div>

<style>
    .product-delete {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f7f7f7;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    h2 {
        text-align: center;
        font-size: 24px;
        color: #008CBA;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .eliminar-producto-btn {
        background-color: #d9534f;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        margin-top: 20px;
    }

    .eliminar-producto-btn:hover {
        background-color: #b52b27;
    }

    .cancelar-btn {
        background-color: #008CBA;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        text-decoration: none;
        display: inline-block;
        margin-right: 10px;
        margin-top: 20px;
    }

    .cancelar-btn:hover {
        background-color: #005A8D;
    }
</style>

{% endblock contentThatChanges %}
