<!-- ALUMNO AGUSTIN LUCAS PONCE DE LEON --> 
<!-- # PROYECTO PYTHON - CURSO CODER HOUSE -->

{% extends 'base.html' %}

{% block contentThatChanges %}

<header class="masthead-inicio">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-3">¡Descubre el confort que se ajusta a tu estilo!</h1>
                    <p class="lead">Encuentra las zapatillas perfectas para ti</p>
                    <a class="btn btn-primary btn-lg" href="{% url 'ListaProductos' %}">Explora nuestros productos</a>
                </div>
            </div>
        </div>
    </div>
</header>

{{mensaje}}

{% endblock contentThatChanges %}