<!-- ALUMNO AGUSTIN LUCAS PONCE DE LEON --> 
<!-- # PROYECTO PYTHON - CURSO CODER HOUSE -->

{% extends 'base.html' %}

{% block contentThatChanges %}

<h1>-- FORMULARIO PARA CREAR PRODUCTO --</h1>

<form action="{% url 'productoFormulario' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="{{ miFormulario.nombre.id_for_label }}">Nombre de Producto:</label>
    {{ miFormulario.nombre }}
    
    <label for="{{ miFormulario.marca.id_for_label }}">Marca:</label>
    {{ miFormulario.marca }}
    
    <label for="{{ miFormulario.talle.id_for_label }}">Talle:</label>
    {{ miFormulario.talle }}
    
    <label for="{{ miFormulario.precio.id_for_label }}">Precio:</label>
    {{ miFormulario.precio }}

    <label for="{{ miFormulario.imagen.id_for_label }}">Imagen:</label>
    {{ miFormulario.imagen }}
    
    <button type="submit">Crear</button>
</form>
    

<style>
    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f7f7f7;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    label, input {
        display: block;
        margin-bottom: 10px;
    }

    input[type="text"], input[type="password"], input[type="file"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    button[type="submit"] {
        background-color: #008CBA;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        margin-top: 10px;
    }

    button[type="submit"]:hover {
        background-color: #005A8D;
    }

    h1 {
        margin-top: 50px;
        font-size: 20px;
        text-align: center;
        color: #008CBA;
        margin-bottom: 20px;
    }
</style>

{% endblock contentThatChanges %}
